[cltl.nlp.events]
topic_in: text_in
topic_out: nlp_out

[cltl.nlp.spacy]
model: en_core_web_sm

[cltl.mention_extraction.events]
scenario_topic: scenario
topics_in: input1, input2
topic_out: output

[cltl.event.kombu]
server: amqp://localhost:5672
exchange: cltl.combot
type: direct
compression: bzip2